      /*** General ***/
/*Tipo de Letra*/
*{
  /*La fuente que se saca de google font*/
 font-family: 'Roboto';
}
/*Para titulo de las secciones*/
.titulo {
  font-size: 5em !important;
  font-weight: 400;
}
      /*** HEADER ***/
/*Barra de navegacion*/
/*Quita el margen de abajo para unir secciones y elimina el efcto de puntas redondeadas*/
header .navbar {
  border-radius: 0;
  margin-bottom: 0;
}
/*Cambio de color de fondo*/
header .navbar-default {
  background-color: #27AD60;
  border-color: #27AD60;
  padding: 2% 5%; 
}
/*Cambio de color y tamaño de las opciones del menú*/
header .navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: 400; 
}
/*Efecto de pasar el mouse sobre las opciones de menú*/
header .navbar-default .navbar-nav > li > a:hover {
  /*El color whitesmoke con el código de color hexadecimal #f5f5f5 es una sombra muy claro de gris*/
  background-color: whitesmoke;
  color: #27AD60; 
}
/*Al colapsar el fondo de la barra de navegacion se hace tranapartne*/
header .navbar-default .navbar-collapse {
  border-color: transparent; 
}
/*Efecto de pasar el mouse sobre las opciones de menú cuandose comprime*/
header .navbar-default .navbar-toggle:hover {
  /*El color whitesmoke con el código de color hexadecimal #f5f5f5 es una sombra muy claro de gris*/
  background-color: whitesmoke; 
}
      /*** Section BANNER ***/
.banner {
  background-image: url("../img/carousel-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1%;
}
.banner h2 {
  margin-bottom: 4%;
}
.banner p {
  line-height: 35px;
  font-size: 1.8em;
  font-weight: normal;
  padding: 0% 4%;
}
    /*** UTILIDADES***/
/*Colores de texto*/
.text-white{
  color: white;
}
/*Margin*/
